.fa-trash {
    cursor: pointer;
}

#logout {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.message-err {
    color: crimson;
}

#delete-all {
    cursor: pointer;
}
#delete-all:hover {
    color: crimson;
}
.table-wrapper {
    max-height: calc(100vh - 200px);;
    overflow: auto;
  }

 /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0d6efd; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0b5ed7; 
  }

  .mt_warning{
      color: var(--bs-yellow);
  }